{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
  <thead>
    <tr>
      <th>PDB ID</th>
      <th>Protein Chain</th>
      <th>Peptide Chain</th>
      <th>Peptide Length</th>
      <th>Peptide Sequence</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
  function renderIndex(pdbid, prot_ch, pep_ch) {
    // 1. index.html을 렌더링하고 현재 페이지를 index.html로 전환하는 작업 수행
    // window.location.href = "/complex";

    // 2. 'data-href' 변수 설정
    // var href = "http://203.249.75.49:5000/complex/" + pdbid + "_" + prot_ch + "_" + pep_ch;
    var url = "http://203.249.75.49:5000/complex/" + pdbid + "_" + prot_ch + "_" + pep_ch;
    window.location.href = url;
  }

  $(document).ready(function () {
    $('#data').DataTable({
      ajax: '/api/data',
      serverSide: true,
      columns: [
        {
          data: 'pdbid',
          render: function (data, type, row, meta) {
            if (type === "display") {
              data = '<a href="#" onclick="renderIndex(\'' + data + '\', \'' + row.prot_ch + '\', \'' + row.pep_ch + '\')">' + data + '</a>';
            }
            return data;
          }
        },
        { data: 'prot_ch', orderable: false },
        { data: 'pep_ch', orderable: false },
        { data: 'pep_len', orderable: false },
        { data: 'pep_seq', orderable: false },
        { data: 'desc', orderable: false }
      ],
    });
  });
</script>
{% endblock %}